header{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-overflow: clip;
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    position: fixed ;
    background: linear-gradient(to right ,rgb(1777, 0, 0) ,#ffd104);
    align-items: center;
    padding: 1.5rem 3rem; 
    backdrop-filter: blur(50px);  
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    z-index: 1000;
    font-size: x-large;
    
}
header :hover{
    transform: scale(1.01);
}
.logo{
    color: rgb(255, 255, 255);
    font-size: xx-large;
    border-radius: 12px;
    margin-right: 40px;
    padding-inline-start: 40px;
    height: 60px;
    margin-top: 30px;
    text-align: center;
    display: flex;
    
    
}
.nav-links {
    display: flex;
    position: relative;
    margin-right: 40px;
    gap: 160px;
    flex-direction: row;
}
.nav-links a{
    color: rgb(255, 253, 253);
    margin-right: 50px;
    margin: auto;
    padding-left: 15px;
    text-decoration: none;
    
    
}
.search-box{
    margin: auto;
    
}
h2 {
    margin-top: 40px;
    border-radius: 15px;
    height: 35px;
    height: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
h1 {
    color: rgb(255, 255, 255);
}
body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    background: linear-gradient(to right ,#000000,#333030,#000000);
    
}

 .section-1 {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    font-size: large;
 
    
 }
 p {
    color:rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
 }
 .Namsake{
    color:  rgb(255, 241, 241);
    font-size: x-large;
    font-weight: 600;
 }
 .life {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 600;
 }
 .inner {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 600;
 }
 .Dwarfplanets {
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 600;
 }
 .Explorer{
    position: relative;
    padding-top: 150px;
    font-size: x-large;
    font-weight: 600;
 }
 .rotate {

    height: auto;
 }
